<h3>Manage Categories</h3>

@page "/categories"
@inject NavigationManager NavigationManager
@inject UserCases.UseCaseInterface.IViewCategoryUserCases ViewCategoryUserCases
@inject UserCases.UseCaseInterface.IDeleteCategoryUseCase DeleteCategoryUseCase

@if (categories != null)
{
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in categories)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td><button type="button" class="btn btn-success" @onclick="@(() => EditCategory(category))">Edit</button></td>
                        <td><button type="button" class="btn btn-danger" @onclick="@(() => DeleteCategory(category.CategoryId))">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
}
<br />
<button type="button" @onclick="OnclickAddCategory" class="btn btn-primary">Add Category</button>


@code {
    private List<Category> categories;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadCategory();
    }

    private void OnclickAddCategory()
    {
        NavigationManager.NavigateTo("/addcategory");
    }

    private void EditCategory(Category category)
    {
        NavigationManager.NavigateTo($"/editcategory/{category.CategoryId}");
    }

    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryUseCase.Delete(categoryId);
        LoadCategory();
    }

    private void LoadCategory()
    {
        categories = ViewCategoryUserCases.Excute()?.ToList();
    }

}
